**/__pycache__/
techeria_app/migrations/__pycache__/
techeria_controller/techeria_app/migrations/__pycache__/
techeria_controller/techeria_controller/migrations/__pycache__/
techeria_app/__pycache__/
techeria_controller/__pycache__/