{% load static %}
<!DOCTYPE html>
<html>


<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <title>Techeria</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
    <!-- responsive style -->
    <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
    <!-- icon font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">





</head>

<body>
    <!-- Confirming connection to database
  <h4>Information for One Product (from database):</h4>
  <table>
      {% for p in product %}
      <tr>
          <td>Name: {{ p.name }}</td>
      </tr>
      <tr>
          <td>Price: {{ p.price }}</td>
      </tr>
      <tr>
          <td>Description: {{ p.description }}</td>
      </tr>
      <tr>
          <td>Category: {{ p.category }}</td>
      </tr>
      {% endfor %}
  </table> -->
    <div class="hero_area">
        <!-- header section strats -->
	<header class="header_section">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg custom_nav-container pt-3">
				<a class="navbar-brand" href=" {% url 'index' %} ">
					<span>
		  <img src="/media/images/techeria_logo1.png" style="width: 90px; height: auto;" alt="Techeria">
		</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
							</li>




							<li>
								<div class="dropdown">
									<button class="dropbtn">Categories</button>
									<div class="dropdown-content">
										<a href="{% url 'laptop' %}">Laptops</a>
										<a href="{% url 'smartphone' %}">Smartphones</a>
										<a href="{% url 'camera' %}">Cameras</a>
										<a href="{% url 'accessorie' %}">Headphones</a>
										<a href="{% url 'notFound' %}">Tablets/ipads</a>
										<a href="{% url 'notFound' %}">TV</a>
										<a href="{% url 'notFound' %}">Speakers</a>
										<a href="{% url 'notFound' %}">Chargers</a>
									</div>
								</div>
							</li>



							<li class="nav-item">
								<a class="nav-link" href=" {% url 'ourproducts' %} "> Products </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href=" {% url 'about' %} "> About </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href=" {% url 'contact' %} ">Contact Us</a>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0" action="/search">
							<input name='q' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
						</form>

						<div class="dropdown">
							<button class="dropbtn"><i class="glyphicon glyphicon-user" style="font-size:25px"></i></button>
							<div class="dropdown-content">
								{% if user.is_authenticated and not user.is_staff %}
								<a href="#">Hello, {{user.first_name}}</a>
								<a href="{% url 'logout' %}">Logout</a>
								<a href="{% url 'addproduct' %}">Add product</a>
								{% elif user.is_authenticated %}
								<a href="#">Hello, {{user.first_name}}</a>
								<a href="{% url 'logout' %}">Logout</a>
								{% else %}
								<a href="{% url 'loginpage' %}">Login</a>
								<a href="{% url 'registration' %}">Sign Up</a>
								 {% endif %}
							</div>
						</div>

						{% if user.is_authenticated %}

						<a href="{% url 'cart' %}">
							<button class="btn"><i class="fa fa-shopping-cart" style="font-size:30px"></i></button>
						</a>

						{% else %}
						<a href="{% url 'loginpage' %}">
							<button class="btn"><i class="fa fa-shopping-cart" style="font-size:30px"></i></button>
						</a>
						{%endif%}


					</div>
				</div>
			</nav>
		</div>

	</header>
	<!-- end header section -->
        <!-- checkout -->
        <form action="" method="POST">
            {% csrf_token %}
        <div class="container alert alert-light">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box-element" id="form-wrapper">
                        <form id="form">

                            <div id="user-info">
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="first_name" placeholder="{{user.first_name}}">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="last_name" placeholder="{{user.last_name}}">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="{{user.email}}">
                                </div>

                                <div class="form-field">
                                    <input class="form-control" type="text" name="mobile_number" placeholder="Phone">
                                </div>

                            </div>

                            <div id="shipping-info">
                                <hr>
                                <p>Shipping Information:</p>
                                <form action="{% url 'checkout' %}" method="POST">
                                  {% csrf_token %}
                                <hr>

                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address">
                                </div>

                                <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City">
                                </div>

                                <div class="form-field">
                                    <input class="form-control" type="text" name="state" placeholder="State">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="country" placeholder="Country">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zip_code" placeholder="Zip code..">
                                </div>


                            </div>

                            <hr>
                            <!-- <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue"> -->
                        </form>
                    </div>

                    <br>
                    <div class="box-element" id="payment-info">
                        <small>Payment Options</small>
                        <!--<button id="make-payment">Make payment</button>-->
                        <div id="paypal-button-container"></div>


                        <!-- Include the PayPal JavaScript SDK -->
                        <script src="https://www.paypal.com/sdk/js?client-id=AakEZv5Oa0eUuXNO9tmglvFeI2YpW8kb9oj_z4joaIA_n4doWVLfsDoRmbwtq4kPyBPo6PqB1tVDvSLw&currency=USD"></script>

                        <script>
                        // Render the PayPal button into #paypal-button-container
                        paypal.Buttons({

                         // Set up the transaction
                         createOrder: function(data, actions) {
                             return actions.order.create({
                                 purchase_units: [{
                                     amount: {
                                         value: '88.44'
                                     }
                                 }]
                             });
                         },

                       // Finalize the transaction
                       onApprove: function(data, actions) {
                           return actions.order.capture().then(function(orderData) {
                               // Successful capture! For demo purposes:
                               console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                               var transaction = orderData.purchase_units[0].payments.captures[0];
                               alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                               // Replace the above to show a success message within this page, e.g.
                               // const element = document.getElementById('paypal-button-container');
                               // element.innerHTML = '';
                               // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                               // Or go to another URL:  actions.redirect('thank_you.html');
                           });
                       }


     }).render('#paypal-button-container');
 </script>


                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="box-element">
                        <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                        <hr>
                        <h3>Order Summary</h3>
                        {% for item in order.orderitem_set.all %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="/media/images/{{ item.product.image}}"></div>
                            <div style="flex:2">
                                <p>{{item.product.name}}</p>
                            </div>
                            <div style="flex:1">
                                <p>${{item.product.price|floatformat:2}}</p>
                            </div>
                            <div style="flex:1">
                                <p class="quantity">{{item.quantity}}</p>
                            </div>
                            <!-- <div style="flex:1">
                                <p>${{item.get_total|floatformat:2}}</p>
                            </div> -->

                            <!-- <div style="flex:1">
                                <a class="btn btn-sm btn-dark" href="{% url 'p' item.product.id %}">Update</a>
                            </div> -->

                            <!-- <div style="flex:1">
                                <a class="btn btn-sm btn-danger" href="{% url 'product' item.product.id %}">Remove</a>
                            </div> -->
                        </div>
                        {% endfor %}

                        <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
			                     <a href="{% url 'ourproducts' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        <h5>Items: {{order.get_cart_items}}</h5>
                        <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
                    </div>
                </div>
            </div>
        </div>
<!-- footer section -->
<section class="container-fluid footer_section">
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span style="color: white">Techeria</span></h2>
                        <h2><span style="color: white">Our Values</span></h2>
                        <p>We are an e-commerce application, focused on making sure all technology products can be purchased in one space with the best deals so you can save your precious time without having to look through multiple websites.</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title" style= "color: white">User Navigation </h2>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Buyer contact</a></li>
                            <li><a href="#">Front page</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title" style= "color: white">Categories</h2>
                        <ul>
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Home accesseries</a></li>
                            <li><a href="#">LED TV</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Gadets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title" style= "color: white">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
  </section>
  <!-- footer section -->

        <script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
        <script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
        </form>
    </body>

</html>
