{% load static %}
<!DOCTYPE html>
<style>
body {
  background-color:#B9CAF1 !important;

}

body{
   margin:0px;
   margin-top:60px;
   padding: 0px;
}
*,*::before,*::after{
   box-sizing: border-box;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #B9CAF1;
   overflow: auto;
   height: auto;
   text-align:center;
}



</style>




<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/style.css' %}">
</head>
<body>

	<form action="loginpage" method="POST">
		{% csrf_token %}
		<div style="text-align: center;">
		  {% for message in messages %}
		  <h4 style="color: red;">{{message}}</h4>
		  {% endfor %}
		</div>
<br><br><br>





	<div class="loginbox">
		<p>Login with your credentials</p>
		<form action="#" method = "post">
			<p>User Name</p>
			<input type="text" name="username" placeholder="User Name">
			<p>Password</p>
			<input type="password" name="password" placeholder="Password">
			<p>Login As</p>
			<select name = "kk">
				<option value="kk" disabled>Select one</option>
				<option value="Buyer">Buyer</option>
				<option value="Seller">Seller</option>
			   </select>
			   <br><br>
			<button type="submit">Login</button>
      <a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>
			<p>I am new here <a href="registration"> SignUp</a></p>
		</form>

	</div>



</form>

</body>
</html>
