{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/style.css' %}">
</head>
<body>

	<form action="loginpage" method="POST">
		{% csrf_token %}
		<div style="text-align: center;">
		  {% for message in messages %}
		  <h4 style="color: red;">{{message}}</h4>
		  {% endfor %}
		</div>

<h1 style="text-align: center;">Login As a..</h1>

 <div style="text-align: center;">
	<div class="radio-container">
		<input type="radio" id="Buyer" name="catagory" />
		<label for="Buyer">Buyer</label>

		<input type="radio" id="Seller" name="catagory" />
		<label for="Seller">Seller</label>

		<input type="radio" id="Admin" name="catagory" />
		<label for="Admin">Admin</label>
	</div>
</div>


	<div class="loginbox">
		<p>Login with your credentials</p>
		<form action="#" method = "post">
			<p>User Name</p>
			<input type="text" name="username" placeholder="User Name">
			<p>Password</p>
			<input type="text" name="password" placeholder="Password">
			<button type="submit">Login</button>
			<a href="#">Forget  Username/Password</a>	
			<p>I am new here <a href="registration"> SignUp</a></p>
		</form>
		
	</div>

	

</form>

</body>
</html>