<?php
include('../header.php');
?>


<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<style>
body {
    background-color:#B9CAF1 !important;

  }

h1{
font-size:80px;
font-weight:800;
text-align:center;
font-family: 'Roboto', sans-serif;
}
h2
{
font-size:25px;
text-align:center;
font-family: 'Roboto', sans-serif;
margin-top:-40px;
}
p{
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:12px;
}

.container
{
width:300px;
margin: 0 auto;
margin-top:15%;
}
</style>
</head>
<body>

<div class="container">
<h2>Ooopsie! Product is not available </h2>

<p>The Page you are looking for doesn't exist.Go to <a href=" {% url 'index' %} ">Home Page.</a></p>
</div>

</body>
</html>
<?php
include('../footer.php');
?>
